a{
    text-decoration: none;
}

.item{
    padding: 10px;
    width: 260px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 9px;
    /* box-shadow: 2px 3px 15px rgba(43, 40, 40, 0.02); */
    transition: all .2s ease-in;
    border: 1px solid #27272700;
}

.item:hover{
    transform: scale(1.005) translateY(-.5px);
}

.item img{
    width: calc(100% - 20px);
    /* height: 270px; */
}

.item p{
    color: #111;
    font-size: 1rem;
    text-align: center;
    padding: 0 5px;
}

.item .item-prices{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    font-size: .9rem;
}

.item .item-prices .item-oprice{
    text-decoration: line-through;
    color: #272626;
}

.item .item-prices .item-nprice{
    color: #d32f45;
}
